@import '../../assets/styles/_main.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: $margin-regular;
  margin-right: $margin-regular;
}

.nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.adminNavWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: $margin-regular;
  margin-right: $margin-regular;
}

.adminNavWrapper h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.adminNav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.pageTitle {
  text-decoration: none !important;
  color: #000;
}

.main {
  padding: $margin-regular;
}
