.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
}

.pageTitle {
  text-decoration: none !important;
  color: #000;
}

.main {
  padding: 2%;
}
