@import '../../assets/styles/_main.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: $margin-regular;
  margin-right: $margin-regular;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $margin-big;
}

.pageTitle {
  text-decoration: none !important;
  color: #000;
}

.main {
  padding: $margin-regular;
}
