.loadingField {
  display: flex;
  flex: 1;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.blockRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.blockRow > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 340px;
  border: 1px solid #aaa;
}
.anouncementsBlock {
  width: 31%;
  min-width: 280px;
  border: 1px solid #aaa;
}

.newStaffBlock {
  width: 31%;
  min-width: 280px;
  border: 1px solid #aaa;
}

.eventsBlock {
  width: 31%;
  min-width: 280px;
  border: 1px solid #aaa;
}

.blockContent {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  height: 475px;
  overflow-y: auto;
}
