.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formWrapper {
  max-width: 800px;
}

.inputWrapper {
  margin-bottom: 24px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
}
