@import '../../../assets/styles/_main.scss';

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  @include text-big;
}

.jobTitle {
  font-style: italic;
  @include text-big;
}

.img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  margin-top: 24px;
}

.leftBlock {
  width: 250px;
  margin-right: 50px;
}

.leftBlock p {
  width: 250px;
  margin-bottom: 24px;
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  line-break: normal;
}

.staffName {
  text-align: center;
  @include text-big;
  @include ellipsis;
}

.userInfo {
  margin-top: 18px;
  @include text-regular;
  text-align: left;
}

.userInfoField {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.userInfoField p {
  @include text-regular;
}

.icon {
  margin-right: 24px;
  font-size: 18px;
}
