@import '../../assets/styles/_main.scss';

.eventName {
  text-align: center;
  @include text-big;
}

.eventDate {
  text-align: center;
  @include text-italic;
}

.eventText {
  width: 100%;
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  line-break: normal;
  @include text-small;
  text-align: center;
}
