.card {
  position: relative;
  width: 270px;
  aspect-ratio: 1 / 1.5;
  background-color: #eee;
}

.card:hover {
  background-color: #ddd;
  transition: 0.4s;
}

.card:active {
  background-color: #aaa;
}

.img {
  width: 100%;
  height: 45%;
  object-fit: cover;
}

.link {
  position: absolute;
  inset: 0;
}

.eventInfo {
  text-align: center;
  font-size: 12px;
  margin: 12px;
}

.eventName {
  text-align: center;
  font-size: 16px;
}

.eventDate {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.eventText {
  width: 205px;
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  line-break: normal;
  font-size: 12px;
  text-align: center;
}
